body {
    font-family: Cabin, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.icon {
    width: 120px;
    height: 120px;
    background: url(images/icon.svg) no-repeat;
    background-size: contain;
    margin: 100px auto 0;
    display: block;
}

h1 {
    color: #263238;
    margin-top: 30px;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    color: #546E7A;
    line-height: 140%;
    max-width: 600px;
    margin: 10px auto 0;
}

.button {
    margin-top: 50px;
    padding: 20px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    color: black;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    border: 1px solid #C4C4C4;
}

.button img {
    margin-right: 10px;
}

.separator {
    width: 100px;
    height: 1px;
    margin: 80px auto 0;
    background: #B0BEC5;
}

h2 {
    font-weight: 400;
    color: #37474F;
    line-height: 150%;
    max-width: 800px;
    margin: 80px auto 0;
    font-weight: 700;
    font-size: 2rem;
}

.showcase {
    display: flex;
    margin: 50px -25px 150px;
}

.showcase__scene {
    margin: 0 25px;
    flex: 1;
    border-radius: 40px;
    background: linear-gradient(180deg, #FFE2D1 0%, #FFCEB1 100%);
    min-height: 600px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.showcase__scene:after {
    content: '';
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, #ffe5d5 0, transparent 250px);
    position: absolute;
    z-index: -1;
    left: calc(50% - 250px);
    top: -180px;
}

.type-icon {
    height: 50px;
    width: 50px;
    margin: 50px auto 0;
}

h3 {
    font-size: 28px;
    color: #13283E;
    margin-bottom: 15px;
    font-weight: 500;
}

.wide-paragraph {
    max-width: 850px;
    margin-top: 20px;
}

.showcase p {
    color: #305675;
    margin-top: 5px;
    padding: 0 40px;
}

.scene {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.scene__front {
    position: absolute;
    left: calc(50% - 207px);
    bottom: -400px;
    animation: scene-front 5s 1s ease-in-out infinite alternate;
    transform: translate3d(0, 50px, 0)
}
.scene__back {
    position: absolute;
    left: calc(50% - 207px);
    bottom: -300px;
    animation: scene-back 5s 1s ease-in-out infinite alternate;
    transform: translate3d(0, 50px, 0)
}

@keyframes scene-back {
    0% {transform: translate3d(0, 50px, 0)}
    100% {transform: translate3d(0, -20px, 0)}
}

@keyframes scene-front {
    0% {transform: translate3d(0, 50px, 0)}
    100% {transform: translate3d(0, -50px, 0)}
}

.showcase__scene--morning { background: linear-gradient(180deg, #E97822 0%, #FAD25D 100%); }
.showcase__scene--morning h3 { color: #57380B }
.showcase__scene--morning p { color: #7D5419 }
.showcase__scene--morning:after { background: radial-gradient(circle, #f2a520 0, transparent 250px); }
.showcase__scene--morning .scene__front, .showcase__scene--morning .scene__back { animation-delay: 0s }

.showcase__scene--night { background: linear-gradient(180deg, #24162C 0%, #3F41A2 100%); }
.showcase__scene--night h3 { color: #BFBCF1 }
.showcase__scene--night p { color: #8E94E9 }
.showcase__scene--night:after { background: radial-gradient(circle, #3C3B8F 0, transparent 250px); }
.showcase__scene--night .scene__front, .showcase__scene--night .scene__back { animation-delay: 2s }

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
    grid-gap: 20px;
    margin-top: 40px;
}

.feature {
    padding: 20px 40px;
    border-radius: 40px;
}

h4 {
    font-size: 24px;
    color: #13283E;
    margin-bottom: 15px;
    font-weight: 500;
}

.copyright {
    margin: 50px auto;
}

@media (max-width: 600px) {
    .showcase { 
        display: block;
        max-width: 414px;
        margin: 50px auto
    }

    .showcase__scene {
        margin: 50px 0;
    }
}